# First print your name in the cell below then save this file. (or something nice about your instructor)

In [2]:
# In this cell print your name 

print('Hussam I think he is very knowledegale and nice and more')

Hussam I think he is very knowledegale and nice and more

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [27]:
import pandas as pd
import numpy as np      # sometimes it needs reinstall and install pandas again using pip uninstall pandas

# Load in the data file using `pd.read_csv()`

In [3]:
# Load data here
data = pd.read_csv('data/listings.csv')  # the first file is the file this pandas file is under

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [11]:
# 1. How many listings are there with a price less than 100? 
# df.shape[0]

FindPrice = data[data['price']<100]
print(FindPrice.shape[0])

22778

In [12]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
# BrooklynData= data[data['neighborhood']=='Brooklyn']  # == instead of = 
print(data.columns)  # this can check the correct column names

BrooklynData = data[data['neighbourhood'] == 'Brooklyn']
print(BrooklynData.shape[0])

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')
0

In [14]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

print(data['price'].dtype)


brooklynPrice = data[(data['neighbourhood'] == 'Brooklyn') & (data['price'] < 100)]
print(brooklynPrice.shape[0])

int64
0

In [15]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

HowManyName = data[data['host_name'].isin(['Michael', 'David', 'John', 'Daniel'])]
print(HowManyName.shape[0])

1258

In [16]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

data['adjusted_price'] = data['price'] # copy this column 
data.loc[data['neighbourhood'] == 'Williamsburg', 'adjusted_price'] += 100
print(data.head()) #check first few rows

     id                                               name  host_id  \
0  2595                              Skylit Midtown Castle     2845
1  3831  Whole flr w/private bdrm, bath & kitchen(pls r...     4869
2  5121                                    BlissArtsSpace!     7356
3  5136           Spacious Brooklyn Duplex, Patio + Garden     7378
4  5178                   Large Furnished Room Near B'wayã€€     8967

     host_name neighbourhood_group       neighbourhood  latitude  longitude  \
0     Jennifer           Manhattan             Midtown  40.75362  -73.98377
1  LisaRoxanne            Brooklyn        Clinton Hill  40.68514  -73.95976
2        Garon            Brooklyn  Bedford-Stuyvesant  40.68688  -73.95596
3      Rebecca            Brooklyn         Sunset Park  40.66120  -73.99423
4     Shunichi           Manhattan      Hell's Kitchen  40.76489  -73.98493

         room_type  price  minimum_nights  number_of_reviews last_review  \
0  Entire home/apt    175               3                 48  2019-11-04
1  Entire home/apt     75               1                340  2020-08-01
2     Private room     60              29                 50  2019-12-02
3  Entire home/apt    175              14                  1  2014-01-02
4     Private room     65               2                473  2020-03-15

   reviews_per_month  calculated_host_listings_count  availability_365  \
0               0.37                               2               365
1               4.75                               1               265
2               0.37                               1               365
3               0.01                               1               295
4               3.44                               1               340

   adjusted_price
0             175
1              75
2              60
3             175
4              65

In [22]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  


total_rooms = data.shape[0]

# Count the number of private rooms
private_rooms = data[data['room_type'] == 'Private room'].shape[0]

# Count the number of shared rooms
shared_rooms = data[data['room_type'] == 'Shared room'].shape[0]

# Calculate the percentage of private and shared rooms
private_room_percentage = (private_rooms / total_rooms) * 100
shared_room_percentage = (shared_rooms / total_rooms) * 100
print(private_room_percentage, shared_room_percentage)

45.444580566122895 2.12134889419047

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [31]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
GBListing = data.groupby('neighbourhood_group').size()   # data is the dataframe created have to remember this, omg ! 
print(GBListing)

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [32]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

mean_prices = data.groupby('neighbourhood_group')['price'].mean()

# Display the result
print(mean_prices)

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [33]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
mean_prices_by_room_type = data.groupby('room_type')['price'].mean()

# Display the result
print(mean_prices_by_room_type)

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [36]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

Check_prices = data.groupby('neighbourhood_group')['price'].agg(['min', 'max'])

# Display the result
print(Check_prices)

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [37]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.

mean_prices = data.groupby(['neighbourhood_group', 'room_type'])['price'].mean()

# Display the result
print(mean_prices)

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [43]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

SuperCheap = data.groupby(['neighbourhood_group', 'room_type'])['price'].agg(
    Available='count',
    minPrice='min',   # the left side is the name the right side is the key, so the left side will display there
    max='max',
    mean='mean',
    median='median',
    std='std'
)

# Display the result
print(SuperCheap)

                                     Available  minPrice    max        mean  \
neighbourhood_group room_type
Bronx               Entire home/apt        415        25   1404  138.004819
                    Private room           722        16    700   68.419668
                    Shared room             46        20    800   66.391304
Brooklyn            Entire home/apt       9112        20  10000  171.587687
                    Hotel room              30         0    399  147.300000
                    Private room          9159        10   2500   71.291189
                    Shared room            331        15   1500   57.870091
Manhattan           Entire home/apt      12209         0  10000  231.335572
                    Hotel room             351         0   2211  292.515670
                    Private room          7601        10  10000  128.277069
                    Shared room            419        10  10000  111.735084
Queens              Entire home/apt       2090        10  10000  150.168900
                    Hotel room              17         0    249  139.058824
                    Private room          3499        18   9000   69.972564
                    Shared room            185        14   3000   89.891892
Staten Island       Entire home/apt        172        39   1200  151.720930
                    Private room           163        20    800   70.312883
                    Shared room              6        19     82   46.000000

                                     median         std
neighbourhood_group room_type
Bronx               Entire home/apt   103.0  126.032106
                    Private room       55.0   57.337866
                    Shared room        44.0  114.442703
Brooklyn            Entire home/apt   135.0  236.732843
                    Hotel room        129.0   91.153206
                    Private room       60.0   69.023165
                    Shared room        36.0   92.217618
Manhattan           Entire home/apt   165.0  410.306439
                    Hotel room        210.0  315.924085
                    Private room       80.0  448.677306
                    Shared room        60.0  502.728868
Queens              Entire home/apt   115.0  252.606739
                    Hotel room        149.0   50.743806
                    Private room       55.0  163.814468
                    Shared room        40.0  275.675158
Staten Island       Entire home/apt   111.0  147.518392
                    Private room       55.0   70.759593
                    Shared room        38.0   28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [45]:
# 1. Load the `prices.csv` and the `n_listings.csv`
DP= pd.read_csv('data/prices.csv')
DL = pd.read_csv('data/n_listings.csv', sep=';')
DP.head()
DL.head()

  neighbourhood_group  n_listings
0               Bronx        1183
1            Brooklyn       18632
2           Manhattan       20580
3          LongIsland        4121

In [57]:
# 2. Do join that keeps all the records for each table.

merged_df = pd.merge(DP, DL, how='outer', on='neighbourhood_group')  # this part  is pd not data. merge this is very confusing 

# Display the first few rows
print(merged_df.head())

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN

In [58]:
# 3. Save your joined csv as `joined.csv` into the data folder. 
merged_df.to_csv('data/joined.csv')

In [59]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`
newdata= pd.read_csv('data/joined.csv')
newdata.head()

   Unnamed: 0 neighbourhood_group   mean_price  n_listings
0           0               Bronx    92.751479      1183.0
1           1            Brooklyn   120.225258     18632.0
2           2          LongIsland          NaN      4121.0
3           3           Manhattan   191.880466     20580.0
4           4              Queens    99.754965         NaN

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.